<app-menu></app-menu>

<agm-map [latitude]="lat" [longitude]="lng" >
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div class="contacts">
  <div class="get-in-touch contact-item">
    <h2 class="title"> get in touch</h2>
    <form novalidate class="contact-form">
      <div class="contact-inputs">
        <input class="contact-input" type="name" placeholder="Name">
        <input class="contact-input" type="email" placeholder="Email">
      </div>
      <div class="contact-inputs">
        <textarea class="contact-textarea" placeholder="Message"></textarea>
      </div>
      <button class="send">Send</button>
    </form>
  </div>
  <div class="information contact-item">
    <h2 class="title"> information</h2>
    <div class="information-items">
      <div class="information-item">
        <i class="fa fa-map-marker"></i>
        3919 New Cut Rd, Mary land, United State.
      </div>
      <div class="information-item">
        <i class="fa fa-phone "></i>
        (12)-100-100-100
      </div>
      <div class="information-item">
        <i class="fa fa-print"></i>
        (12)-112-123-123
      </div>
      <div class="information-item">
        <i class="fa fa-envelope"></i>
        deercreative@gmail.com
      </div>
      <app-soshial-media></app-soshial-media>
    </div>

  </div>
</div>
<app-follow-us-on-instagram></app-follow-us-on-instagram>
<app-footer></app-footer>
