$text-color: #191919;
$text-hover-color: #e59f80;

@mixin buttons () {
  cursor: pointer;
  &:hover {
    color: $text-hover-color;
  }
}

.navigation {
  //position: fixed;
  background: #ffffff;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  .logo {
    margin: 10px 0px;
    float: left;
  }
  .nav-list {
    float: right;
    list-style-type: none;
    .nav-item {
      padding: 10px;
      text-transform: uppercase;
      font-size: 14px;
      color: $text-color;
      float: left;
      letter-spacing: 1px;
      font-weight: 600;
      @include buttons();
    }
  }
}

.nav {
  color: $text-hover-color !important;
}
