<div class="instagram">
  <h2 class="instagram-title">Follow Us On Instagram</h2>
  <div class="instagram-subtitle">@foodeblog</div>
  <div class="instagram-pictures-list">
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta1.jpg">
      <div class="instagram-text"><i class="fa fa-instagram"></i>Follow me</div>
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta2.jpg">
      <div class="instagram-text"><i class="fa fa-instagram"></i>Follow me</div>
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta3.jpg">
      <div class="instagram-text"><i class="fa fa-instagram"></i>Follow me</div>
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta4.jpg">
      <div class="instagram-text"><i class="fa fa-instagram"></i>Follow me</div>
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta5.jpg">
      <div class="instagram-text"><i class="fa fa-instagram"></i>Follow me</div>
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta6.jpg">
      <div class="instagram-text"><i class="fa fa-instagram"></i>Follow me</div>
    </div>
  </div>
</div>
<div class="media-list">
  <div class="media-item">
    <ul>
      <li><i class="fa fa-facebook"></i> facebook</li>
      <li><i class="fa fa-twitter"></i> twitter</li>
      <li><i class="fa fa-google-plus"></i> google +</li>
      <li><i class="fa fa-linkedin"></i> linkedin</li>
      <li><i class="fa fa-instagram"></i> instagram</li>
      <li><i class="fa fa-vimeo"></i> vimeo</li>
      <li><i class="fa fa-youtube"></i> youtube</li>
    </ul>
  </div>
</div>
