<div class="navigation">
  <div class="logo">
    <img class="logo-img" src="assets/img/logo.png" />
  </div>
  <ul class="nav-list">
    <li class="nav-item">home</li>
    <li class="nav-item">pages</li>
    <li class="nav-item">categories</li>
    <li class="nav-item">travel</li>
    <li class="nav-item">about</li>
    <li class="nav-item">contact</li>
  </ul>
</div>
<div class="owl-stage-outer">
  <div class="owl-stage" *ngFor="let slide of slider">
    <div class="owl-image">
      <img class="img" src={{slide.img}}>
    </div>
    <h5 class="owl-day">{{slide.day}}</h5>
    <h4 class="owl-title">{{slide.title}}</h4>
  </div>
</div>
<div class="area-and-sidebar">
  <div class="area">
    <div class="post-area" *ngFor="let post of posts">
      <div class="post-img">
        <img class="post-image" src={{post.img}}>
      </div>
      <div class="post-areas">
        <p class="post-day">{{post.day}}</p>
        <p class="post-title">{{post.title}}</p>
        <div class="post-meta">
          <a><i>by </i>{{post.after}}</a>
          <a><i> eye </i>{{post.views}}</a>
          <a><i> comment </i>{{post.comments}}</a>
        </div>
        <p class="post-paragraph">{{post.paragraph}}</p>
        <p class="post-continue">Continue Reading   </p>
      </div>
      <div class="post-line">
        <img src="assets/img/breadcrumb-line.png">
      </div>
    </div>
    <div class="prev-and-next">
      <span class="never">never</span>
      <span class="older">older</span>
    </div>
  </div>
  <div class="sidebar-area">
    <div class="about-me">
      <div class="lines">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">about me</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <div class="me">
        <img src="assets/img/about-me.jpg">
      </div>
      <div class="signature">
        <img src="assets/img/signature.png">
      </div>
      <p class="about-me-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <div class="lines subscribe">
        <img class="line2" src="assets/img/widget-curve.png">
        <p class="line about">subscribe & follow</p>
        <img class="line2" src="assets/img/widget-curve.png">
      </div>
      <div class="icons">
        <ul>
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-google-plus"></i></li>
          <li><i class="fa fa-pinterest"></i></li>
          <li><i class="fa fa-linkedin"></i></li>
          <li><i class="fa fa-rss"></i></li>
        </ul>
      </div>
      <div class="lines subscribe">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">latest posts</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <div class="post">
        <div class="latest-post" *ngFor="let latest of latestPost">
          <div class="latest">
            <img class="latest-img" src={{latest.img}}>
          </div>
          <div class="latest2">
            <h3 class="latest-title">{{latest.title}}</h3>
            <p class="latest-by"><i>by</i> {{latest.by}}</p>
          </div>
        </div>
      </div>
      <div class="cooking-book">
        <img class="cooking-book-img" src="assets/img/add.png">
      </div>
      <div class="lines subscribe">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">newsletter</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <p class="cooking-me-p">Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
      <div class="send-email">
        <input class="send-email-input" placeholder="Your email">
        <span class="send-email-button"><i class="fa fa-location-arrow"></i></span>
      </div>
      <div class="lines subscribe">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">popular tags</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <div class="popular-tags">
        <div class="tags" *ngFor="let tags of popularTags">{{tags}}</div>
      </div>
    </div>
  </div>
</div>
<div class="instagram">
  <h2 class="instagram-title">Follow Us On Instagram</h2>
  <div class="instagram-subtitle">@foodeblog</div>
  <div class="instagram-pictures-list">
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta1.jpg">
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta2.jpg">
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta3.jpg">
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta4.jpg">
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta5.jpg">
    </div>
    <div class="instagaram-picture-item">
      <img class="istagram-picture" src="assets/img/insta6.jpg">
    </div>
  </div>
</div>
<div class="media-list">
  <div class="media-item">
    <!--<i class="fa fa-facebook"></i><a href="https://web.facebook.com" target="_blank">Facebook</a>-->

  </div>

</div>
<footer >
  Copyright @{{thisYear | date:'yyyy'}} All rights reserved | This template is made with  by Anna Melkonyan
</footer>
<router-outlet></router-outlet>

