  @import url('https://fonts.googleapis.com/css?family=Merriweather');
$text-color: #191919;
$text-hover-color: #e59f80;
$slider-text-color: #fff;
$text-paragraph-color: #595959;
$text-continue-color: #a6a6a6;
$input-background-color: #f2f4f5;
$border-color: #ebebeb;
$button-color: #191919;

@mixin text-in-slider ($font-size, $top) {
  position: absolute;
  font-size: $font-size;
  width: 20%;
  top: $top;
  font-weight: 500;
}

@mixin buttons () {
  cursor: pointer;
  &:hover {
    color: $text-hover-color;
  }
}

@mixin width_and_float($width, $float) {
  width: $width;
  float: $float;
}

.navigation {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  .logo {
    margin: 10px 0px;
    float: left;
  }
  .nav-list {
    float: right;
    list-style-type: none;
    .nav-item {
      padding: 10px;
      text-transform: uppercase;
      font-size: 14px;
      color: $text-color;
      float: left;
      letter-spacing: 1px;
      font-weight: 600;

      @include buttons();
    }
  }
}
.owl-stage-outer {
  clear: both;
  display: flex;
  flex-direction: row;
  color: $slider-text-color;
  position: relative;
  text-align: center;
  .owl-stage {
    .owl-image{
      max-width: 94%;
      opacity: .7 ;
      .img {
        width: 100%;
      }
    }
    .owl-day {
      text-transform: uppercase;
      @include text-in-slider(13px, 60%);
      letter-spacing: 2px;
    }
    .owl-title {
      @include text-in-slider(20px, 70%);
      outline: 0 solid transparent;
      font-family: "Poppins", sans-serif;
      @include buttons();
    }
  }
}
.area-and-sidebar {
  margin-bottom: 10%;
  .area {
    padding: 5% 0px 0% 5%;
    @include width_and_float(60%, left);
    .post-area {
      padding: 1%;
      float: left;
      .post-img {
        @include width_and_float(40%, left);
        .post-image {
          @include width_and_float(100%, left);
        }
      }
      .post-areas {
        @include width_and_float(50%, left);
        margin-left: 5%;
        .post-day {
          color: $text-hover-color;
          text-transform: uppercase;
          font-weight: 500;
          margin-top: 0px;
        }
        .post-title {
          font-weight: 500;
          line-height: 1.5;
          font-family: 'Merriweather', serif;
          font-size: 24px;
          letter-spacing: 1.1px;
          @include buttons();
        }
        .post-meta {
          i {
            color: darkgrey;
            margin-left: 10px;
          }
        }
        .post-paragraph {
          width: 80%;
          line-height: 25px;
          font-size: 20px;
          transition-duration: 500ms;
          font-weight: 300;
          color: $text-paragraph-color;
        }
        .post-continue {
          text-transform: uppercase;
          color: $text-continue-color;
          font-size: 14px;
          margin-bottom: 0px;
          @include buttons();
        }
      }
      .post-line {
        width: 80%;
        img {
          max-width: 100%;
          margin-top: 25px;
        }
      }
    }
    .prev-and-next {
      width: 80%;
      .never, .older {
        padding: 10px 15px;
        border: 1px solid $border-color;
        margin: 4px;
        color: $button-color;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        @include buttons();
      }
      .never {
        float: left;
        @include buttons();
        float: left;


      }
      .older {
        float: right;
      }
    }
  }
  .sidebar-area {
    @include width_and_float(30%, left);
    padding: 5% 0px;
    .about-me {
      .lines {
        .line {
          float: left;
          &:nth-child {
            clear: both;
          }
        }
        .about {
          margin: 0px 10px ;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 14px;
        }
        .line2 {
          @include width_and_float(20%, left);
          height: 20px;
        }
      }
      .subscribe {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .icons {
        clear: both;
        ul {
          li {
            cursor: pointer;
            margin: 12% 0px;
            list-style-type: none;
            float: left;
            padding: 10px;
            color: $text-color;
            &:hover {
              color: $text-hover-color;
            }
            &:nth-child {
              clear: both;
            }
          }
        }
      }
      .post {
        margin-top: 200px;
        .latest-post{
          margin-top: 20px;
          .latest {
            .latest-img {
              @include width_and_float(40%, left);
              margin: 10px 20px 10px 0px;
              height: auto;
            }
          }
          .latest2 {
            @include width_and_float(50%, left);
            .latest-title {
              color: $text-paragraph-color;
              font-weight: 100;
              @include buttons();
            }
            .latest-by {
              margin-bottom: 90px;
              margin-top: 10px;
              i {
                color: $text-continue-color;
              }
            }
          }
        }
      }
      .cooking-book {
        .cooking-book-img{
        margin: 10% 0px;
        cursor: pointer;
        max-width: 100%;
        }
      }
      .cooking-me-p {
        @extend .about-me-p;
        text-align: left !important;
        padding-top: 15%;
        margin: 0px !important;
      }
      .send-email {
        margin-top: 10%;
        margin-bottom: 10%;
        .send-email-input {
          width: 70%;
          padding: 20px;
          border: none;
          background: $input-background-color;
          color: $text-paragraph-color;
          font-size: 14px;
          &:focus {
            border: none;
          }
        }
        .send-email-button {
          background: $text-hover-color;
          color: $input-background-color;
          padding: 20px ;
          cursor: pointer;
          &:hover {
            background: $text-paragraph-color;
          }
        }
      }
      .popular-tags {
        margin-top: 25%;
        .tags {
          @include buttons();
          float: left;
          padding: 10px 15px;
          border: 1px solid $border-color;
          margin: 4px;
          color: $button-color;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
    .me {
      clear: both;
      img {
        width: 65%;
        border-radius: 50%;
        margin: 30px 12%;
      }
    }
    .signature {
      img {
        width: 94%;
        margin-left: 3%;
      }
    }
    .about-me-p {
      width: 80%;
      margin: 10px 10%;
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
      color: $text-paragraph-color;
      font-weight: 500;
    }
  }
}
.instagram {
  .instagram-title{
    text-align: center;
    font-size: 36px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    margin-top: 10px;
  }
  .instagram-subtitle {
    text-align: center;
    color: $text-hover-color;
  }
  .instagram-pictures-list {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5%;
    .instagaram-picture-item{
      float: left;
      margin: 10px 10px 10px 0px;
      .istagram-picture {
        max-width: 100%;
        position: relative;
        z-index: 2;
        overflow: hidden;
        cursor: pointer;
        &:hover {
          opacity: .4;
          transform: rotate(30deg);
          transition-duration: 1000ms;
        }
      }

    }
  }
}
footer {
  text-align: center;
  margin: 5%;
  ont-size: 14px;
  color: $text-continue-color;
  font-weight: 400;
}
