<app-menu></app-menu>
<div class="owl-stage-outer">
  <div class="owl-stage" *ngFor="let slide of slider">
    <div class="owl-image">
      <img class="img" src={{slide.img}}>
    </div>
    <h5 class="owl-day">{{slide.day}}</h5>
    <h4 class="owl-title">{{slide.title}}</h4>
  </div>
</div>
<div class="area-and-sidebar">
  <div class="area">
    <app-post-card [posts]="posts"></app-post-card>
  </div>
  <div class="sidebar-area">
    <div class="about-me">
      <div class="lines">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">about me</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <div class="me">
        <img src="assets/img/about-me.jpg">
      </div>
      <div class="signature">
        <img src="assets/img/signature.png">
      </div>
      <p class="about-me-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <div class="lines subscribe">
        <img class="line2" src="assets/img/widget-curve.png">
        <p class="line about">subscribe & follow</p>
        <img class="line2" src="assets/img/widget-curve.png">
      </div>
      <app-soshial-media></app-soshial-media>
      <div class="lines subscribe">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">latest posts</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <div class="post">
        <app-latest-post [latestPost]="latestPost"></app-latest-post>
      </div>
      <div class="cooking-book">
        <img class="cooking-book-img" src="assets/img/add.png">
      </div>
      <div class="lines subscribe">
        <img class="line" src="assets/img/widget-curve.png">
        <p class="line about">newsletter</p>
        <img class="line" src="assets/img/widget-curve.png">
      </div>
      <p class="cooking-me-p">Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
      <div class="send-email">
        <input class="send-email-input" placeholder="Your email">
        <span class="send-email-button"><i class="fa fa-location-arrow"></i></span>
      </div>
      <div class="lines subscribe">
        <img class="line popular-line" src="assets/img/widget-curve.png">
        <p class="line about popular-line">popular tags</p>
        <img class="line popular-line" src="assets/img/widget-curve.png">
      </div>
      <app-popular-tags [popularTags]="popularTags"></app-popular-tags>
    </div>
  </div>
</div>
<app-follow-us-on-instagram></app-follow-us-on-instagram>
<app-footer></app-footer>
